/* Anchor links */
/* Top bar */
a {
    color: var(--text-color);
    text-decoration: none;
    cursor: pointer;
}
/* Main nav bar */
.main-nav ul li a,
.main-nav ul li a:visited,
.main-nav ul li a:link {
  color: var(--main-text-color);
  text-decoration: none;
  font-size: larger;
  transition: 0.5s;
  font-weight: bold;
  cursor: pointer;
}
.main-nav ul li a:hover {
  color: #e9e9e9;
  transform: scale(2);
}
.left-sidebar ul li a:hover {
    background-color: var(--border-color);
}