@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
/* my own mods */
@import url(./var.css);
@import url(./anchors.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family: 'Roboto', sans-serif;
    width: 100vw;
    height: 100vh;
    color: white;
  }
.container {
    display: grid;
    grid-template-columns: 15vw 85vw;
    grid-template-rows: 6.7vh 23.5vh 12vh 6vh 51.7vh;
    grid-template-areas: 
    "top-menu top-menu"
    "left-menu img"
    "left-menu about"
    "left-menu main-menu"
    "left-menu main";
}
/* Top Menu */
.topbar {
    grid-area: top-menu;
    background-color: var(--topbar-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-container, .search-container, .personal-account {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-container input {
    width: 40rem;
    padding: 6px;
    font-size: 17px;
    border: 1px var(--border-color) solid;
    background-color: black;
}
.topbar .search-container button {
    float: right;
    padding: 6px 25px;
    margin-right: 16px;
    background: var(--border-color);
    font-size: 17px;
    cursor: pointer;
    border: 1px var(--border-color) solid;
  }
.b-icon {
    color: var(--text-color);
  }
.mic-icon {
    padding: 9px;
    background-color: black;
    border-radius: 50%;
  }
.logo {
   width: 130px;
}
.myavatar {
    width: 50px;
    border-radius: 50%;
}

/* Left Sidebar Menu */
.left-sidebar {
    grid-area: left-menu;
    background-color:var(--left-sidebar-bg-color);
}
hr {
    width: 14vw;
    border: 0.1px var(--border-color) solid;
    margin: 20px;
}
.left-sidebar ul li {
    list-style: none;
  }
.left-sidebar ul li a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
.left-sidebar ul li img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 11px 30px 11px 11px;
    /* display: inline;
    justify-content: center;
    align-items: center; */
}

/* Banner */
.banner {
    grid-area: img;
}
.banner img {
    height: 100%;
    width: 100%;
}

/* Channel */
.channel {
    grid-area: about;
    background-color: var(--account-mainnav-bg-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* .channel a {
    display: flex;
    justify-content: center;
    align-items: center;
} */
.avatar {
    border-radius: 50%;
    width: 90px;
}
.channel-info p {
    color: var(--border-color);
  }
.subscribe-btn {
    padding: 10px 30px;
    border: none;
    background-color: #cc0200;
    color: white;
    border-radius: 4px;
    font-size: 1rem;
    margin: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

/* Main navbar */
.main-nav {
    grid-area: main-menu;
    background-color: var(--account-mainnav-bg-color);
    text-transform: uppercase;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}
.main-nav ul {
    display: flex;
    justify-content: space-evenly;
  }
.main-nav ul li {
    display: inline;
    list-style: none;
  }

/* Content */
.content {
    grid-area: main;
    background-color: var(--content-bg-color);
}











