@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url(./var.css);
@import url(./anchors.css);
/* my own mods */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family: 'Roboto', sans-serif;
    width: 100vw;
    height: 100vh;
    color: white;
  }
.container {
    display: grid;
    grid-template-columns: 15vw 85vw;
    grid-template-rows: 6.7vh 23.5vh 18vh 51.7vh;
    grid-template-areas: 
    "top-menu top-menu"
    "left-menu img"
    "left-menu about"
    "left-menu main-menu"
    "left-menu main";
}
/* top menu */
.topbar {
    grid-area: top-menu;
    background-color: var(--topbar-bg-color);
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.logo-container {
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.l-icon {

}
.myavatar {
    width: 50px;
    border-radius: 50%;
}







.left-sidebar {
    grid-area: left-menu;
    background-color:var(--left-sidebar-bg-color);
}
.banner {
    grid-area: img;

}
.account {
    grid-area: about;
    background-color:var(--account-mainnav-bg-color);
}
.main-nav {
    grid-area: main-menu;
    background-color: var(--account-mainnav-bg-color);
}
.content {
    grid-area: main;
    background-color: var(--content-bg-color);
}

/* Left sidebar Menu */
.left-sidebar {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
/* .left-sidebar ul {
    display: flex;
    justify-content: space-around;
  } */
.left-sidebar ul li {
    list-style: none;
  }

.banner-photo {
    height: 100%;
    width: 100%;
    
  }

.avatar {
    border-radius: 50%;
    flex-grow: 1;
    width: 90px;
}
.melod-icon {
    width: 50px;
}
p {
    color: #aaaaaa;
  }
.subscribe-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    border: none;
    background-color: #cc0200;
    color: white;
    border-radius: 4px;
    font-size: 1rem;
    margin: 10px;
    font-weight: bold;
    text-transform: uppercase;
    flex-grow: 2;
}

/* Menu */
.main-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

.main-nav ul {
    display: flex;
    justify-content: space-around;
  }
.main-nav ul li {
    display: inline;
    list-style: none;
  }